<?xml version="1.0" encoding="utf-8" ?>
<settings>
  
  <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
  <position>
    <add name="Banner trang chủ" value="1" resourcefile="" />
    <add name="Banner page" value="2" resourcefile="" />
    <add name="Banner khuyến mãi" value="4" resourcefile="" />
    <add name="Trang khuyến mãi - Banner" value="8" resourcefile="" />
    <add name="Online - Banner trang chủ" value="16" resourcefile="" />
    <add name="Landing page - Banner" value="32" resourcefile="" />
    <add name="Landing page - Banner Ads" value="64" resourcefile="" />
    <add name="Landing page 4 - Banner" value="128" resourcefile="" />
  </position>
  
</settings>