section.murad-2019-2
	.container
		.row
			.col-xs-12
				ul.nav
					li.nav-item
						a.nav-link(href="#tab-1").active Lão hóa tế bào
					li.nav-item
						a.nav-link(href="#tab-2") Công nghệ ReactivCell
					li.nav-item
						a.nav-link(href="#tab-3") Trước và sau khi sử dụng
section.murad-2019-2-2
	.container
		.tab-content#tab-1
			.row
				.col-xs-12
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quisquam inventore modi error beatae possimus, voluptas esse corrupti cumque doloremque atque nisi dolorem numquam fuga debitis, facilis temporibus itaque quam?
				
		.tab-content#tab-2
			.row
				.col-xs-12
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quisquam inventore modi error beatae possimus, voluptas esse corrupti cumque doloremque atque nisi dolorem numquam fuga debitis, facilis temporibus itaque quam?
				
		.tab-content#tab-3
			.row
				.col-xs-12
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quisquam inventore modi error beatae possimus, voluptas esse corrupti cumque doloremque atque nisi dolorem numquam fuga debitis, facilis temporibus itaque quam?
				
