section.murad-2019-2
	.container
		.row
			.col-xs-12
				ul.nav
					li.nav-item
						a.nav-link(href="#tab-1").active Lão hóa tế bào
					li.nav-item
						a.nav-link(href="#tab-2") Công nghệ ReactivCell
					li.nav-item
						a.nav-link(href="#tab-3") Trước và sau khi sử dụng
section.murad-2019-2-2
	.container
		.btn.btn-next
			//- span.fab.fa-facebook-f

			span.lnr.lnr-chevron-right
		.btn.btn-prev
			//- span.fab.fa-facebook-f
			span.lnr.lnr-chevron-left
		.block_btn
			a(href="#tab-1").btn-stt.active
			a(href="#tab-2").btn-stt
			a(href="#tab-3").btn-stt
		.list-items
			.tab-content#tab-1.item
				.row
					.col-xs-12
						h2 Lão hóa tầng tế bào là gì? 1
						p Lão hóa tầng tế bào là hậu quả của sự tấn công bởi môi trường, DNA hư hại và quá trình lão hóa tự nhiên. Tổn thương tế bào xảy ra khắp cơ thể nhưng chúng ta chủ yếu nhìn thấy tác động của nó trên bề mặt da.
						img.line(src='./img/home/line.png', alt='')
				.row
					.col-xs-12
						h3 Tế bào lão hóa như thế nào
						p Khi chúng ta già đi cùng với các gốc tự do tấn công làn da, màng tế bào bị vỡ, mất khả năng phực hồi, mất nguồn năng lượng hóa học và rò rỉ chất nước quan trọng trong tế bào. Tế bào bị suy yếu là con đường chính dẫn đến lão hóa ở tầng tế bào
					- for ( var x =0; x< 4; x++)
						.col-xs-12.col-md-6.col-lg-3
							figure
								.boxzoom
									img(src='./img/home/item_1.jpg', alt='')
								figcaption
									h4 Sự lão hóa ở tầng tế bào được tiết lộ thông qua các nếp nhăn, vết chân chim, mụn và thay đổi màu da
					
			.tab-content#tab-2.item
				.row
					.col-xs-12
						h2 Lão hóa tầng tế bào là gì? 2
						p Lão hóa tầng tế bào là hậu quả của sự tấn công bởi môi trường, DNA hư hại và quá trình lão hóa tự nhiên. Tổn thương tế bào xảy ra khắp cơ thể nhưng chúng ta chủ yếu nhìn thấy tác động của nó trên bề mặt da.
						img.line(src='./img/home/line.png', alt='')
				.row
					.col-xs-12
						h3 Tế bào lão hóa như thế nào
						p Khi chúng ta già đi cùng với các gốc tự do tấn công làn da, màng tế bào bị vỡ, mất khả năng phực hồi, mất nguồn năng lượng hóa học và rò rỉ chất nước quan trọng trong tế bào. Tế bào bị suy yếu là con đường chính dẫn đến lão hóa ở tầng tế bào
					- for ( var x =0; x< 4; x++)
						.col-xs-12.col-md-6.col-lg-3
							figure
								.boxzoom
									img(src='./img/home/item_1.jpg', alt='')
								figcaption
									h4 Sự lão hóa ở tầng tế bào được tiết lộ thông qua các nếp nhăn, vết chân chim, mụn và thay đổi màu da
					
			.tab-content#tab-3.item

				
				.row
					.col-xs-12
						h2 Lão hóa tầng tế bào là gì? 3
						p Lão hóa tầng tế bào là hậu quả của sự tấn công bởi môi trường, DNA hư hại và quá trình lão hóa tự nhiên. Tổn thương tế bào xảy ra khắp cơ thể nhưng chúng ta chủ yếu nhìn thấy tác động của nó trên bề mặt da.
						img.line(src='./img/home/line.png', alt='')
				.row
					.col-xs-12
						h3 Tế bào lão hóa như thế nào
						p Khi chúng ta già đi cùng với các gốc tự do tấn công làn da, màng tế bào bị vỡ, mất khả năng phực hồi, mất nguồn năng lượng hóa học và rò rỉ chất nước quan trọng trong tế bào. Tế bào bị suy yếu là con đường chính dẫn đến lão hóa ở tầng tế bào
					- for ( var x =0; x< 4; x++)
						.col-xs-12.col-md-6.col-lg-3
							figure
								.boxzoom
									img(src='./img/home/item_1.jpg', alt='')
								figcaption
									h4 Sự lão hóa ở tầng tế bào được tiết lộ thông qua các nếp nhăn, vết chân chim, mụn và thay đổi màu da
