.murad-2019-2
	padding-top: r(20px)
	ul
		display: flex
		justify-content: center
		
		li
			box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15)
			&:last-child
				a
					&:before
						display: none
			a
				background: color-get($mau, trang)
				padding: 1rem 
				color: color-get($mau,text-3)
				position: relative
				transition: .5s all ease-in-out
				&:before
					position: absolute
					top: 50%
					right: 0
					transform: translateY(-50%)
					display: block
					width: 1px
					height: r(20px)
					content: ''
					background: #b7b7b7
				&:after
					position: absolute
					bottom: 10px
					left: 50%
					transform: translateX(-50%) rotate(45deg)
					display: block
					width: r(20px)
					height: r(20px)
					content: ''
					z-index: -1
					background: color-get($mau, tim)
					transition: .3s all ease-in-out
				&.active
					color: color-get($mau,trang)
					background: color-get($mau, tim)
					&:after
						z-index: 1
						bottom: r(-10px)
					&:before
						display: none
				@media screen and (min-width: 992px)
					padding: 1rem r(60px)
					&:after
						width: r(30px)
						height: r(30px)
					&.active
						&:after
							bottom: r(-15px)

					&:hover
						color: color-get($mau,trang)
						background: color-get($mau, tim)
						&:after
							bottom: r(-15px)

.murad-2019-2-2
	margin-top: r(45px)
	.tab-content
		display: none