section.murad-2019-4
	.container
		h2 Technoceuticals Professional concentrates
		.row
			.col-xs-12.col-lg-4
				figure
					.boxzoom
						img(src='./img/home/product_1.jpg', alt='')
					figcaption
						h3 
							span New
							| Wrinkle Solution Professional Concentrate
						p Tinh chất đậm đặc siêu trẻ hóa da
						.detail
							p Hiệu quả giảm thiểu sự xuất hiện nếp nhăn và tăng cường độ đàn hồi của da, chống lại lão hóa. Tri-hyaluronic acid, chiết xuất Swertiamarin làm đầy nếp - rãnh nhăn, giúp căng mọng và tái tạo da đồng thời tăng cường tính đàn hồi, săn chắc.
				.wrapper_btn

					a(href="#").btn.btn-more tìm hiểu thêm
			.col-xs-12.col-lg-4
				figure
					.boxzoom
						img(src='./img/home/product_1.jpg', alt='')
					figcaption
						h3 
							span New
							| Wrinkle Solution Professional Concentrate
						p Tinh chất đậm đặc siêu làm sạch, giảm dầu & se khít lỗ chân lông
						.detail
							p Hiệu quả giảm thiểu sự xuất hiện nếp nhăn và tăng cường độ đàn hồi của da, chống lại lão hóa. Tri-hyaluronic acid, chiết xuất Swertiamarin làm đầy nếp - rãnh nhăn, giúp căng mọng và tái tạo da đồng thời tăng cường tính đàn hồi, săn chắc.
				.wrapper_btn
					a(href="#").btn.btn-more tìm hiểu thêm
			.col-xs-12.col-lg-4
				figure
					.boxzoom
						img(src='./img/home/product_1.jpg', alt='')
					figcaption
						h3 
							span New
							| Wrinkle Solution Professional Concentrate
						p Tinh chất đậm đặc siêu trắng sáng da
						.detail
							p Hiệu quả giảm thiểu sự xuất hiện nếp nhăn và tăng cường độ đàn hồi của da, chống lại lão hóa. Tri-hyaluronic acid, chiết xuất Swertiamarin làm đầy nếp - rãnh nhăn, giúp căng mọng và tái tạo da đồng thời tăng cường tính đàn hồi, săn chắc.
				.wrapper_btn

					a(href="#").btn.btn-more tìm hiểu thêm
