<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>
  <templatelist xsltname="SalePageListNew.xslt" name="Danh sách tin khuyến mãi"></templatelist>
  <templatelist xsltname="AboutPageMurad.xslt" name="Trang giới thiệu - Dr. Howard Murad"></templatelist>
  <templatelist xsltname="AboutPageHistory.xslt" name="Trang giới thiệu - Năm phát hành và phát triển"></templatelist>
  <templatelist xsltname="AboutPageWhyChoose.xslt" name="Trang giới thiệu - Tại sao lại chọn Murad"></templatelist>
  <templatelist xsltname="JobsPageList.xslt" name="Trang tuyển dụng - Danh sách"></templatelist>
  <templatelist xsltname="FAQsList.xslt" name="Trang hỗ trợ khách hàng"></templatelist>

  <templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
  <templatedetail xsltname="SalePageDetail.xslt" name="Chi tiết tin khuyến mãi"></templatedetail>
  <templatedetail xsltname="BlogDetail.xslt" name="Chi tiết tin blog"></templatedetail>
  <templatedetail xsltname="JobsPageDetail.xslt" name="Trang tuyển dụng - Chi tiết"></templatedetail>

  <position>
    <add name="Trang blog - Blog" value="1" resourcefile="" />
    <add name="Landing page - News" value="2" resourcefile="" />
    <add name="Landing page - Customer Feedback" value="4" resourcefile="" />
    <add name="Landing page 4 - News" value="8" resourcefile="" />
  </position>
</templates>