section.murad-2019-3
	.container
		.row
			.col-xs-12
				h3 Technoceuticals peels
				p Hệ thống Peel tân tiến nhất của Murad - Phương pháp tái tạo da không xâm lấn, kích thích các hoạt chất thấm sâu vào bên trong da, tăng cường độ săn chắc, giảm đường nhăn, vết chân chim, cải thiện độ mượt mà, giúp da sáng hơn.
				img(src='./img/home/banner_3.jpg', alt='')
				p Murad Technoceuticals® Peels dựa trên nền tảng khoa học tiên tiến nhất hiện nay, kết hợp với những khám phá độc quyền của Tiến sĩ Murad về công nghệ Glycolic và Tri-Aid Complex, kết hợp với chất chống oxy hóa và công nghệ tạo ẩm. Murad hiểu rằng, mỗi khách hàng là mỗi cá thể độc nhất do đó cần điều trị với giải pháp riêng biệt từ bên trong ra bên ngoài, duy trì sức khỏe da trước - trong lúc và sau khi peel là điều rất quan trọng để đạt được kết quả cao và bền vững.
				p Technoceuticals ® Peels giúp đạt kết quả cao đồng thời mang lại môi trường cho làn da khỏe mạnh. Technoceuticals ® Peels thay mới làn da mà không gây tình trạng kích ứng.
				.wrapper_btn
					a(href="#").btn.btn-more Tìm spa gần bạn
