<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
    <add name="Sản phẩm liên quan - giỏ hàng" value="10" resourcefile="" />
    <add name="Sản phẩm đã xem" value="0" resourcefile="" />
    <add name="Sản phẩm trang chủ - bán chạy" value="1" resourcefile="" />
    <add name="Trang ô nhiễm - Sản phẩm cho đô thị" value="2" resourcefile="" />
    <add name="Trang ô nhiễm - Sản phẩm nhiều người mua nhất" value="4" resourcefile="" />
    <add name="Online - Sản phẩm mới" value="8" resourcefile="" />
    <add name="Online - Thoa ngoài da" value="16" resourcefile="" />
    <add name="Online - Viên uống" value="32" resourcefile="" />
    <add name="Landing page - Sản phẩm" value="64" resourcefile="" />
    <add name="Landing page 4 - Sản phẩm" value="128" resourcefile="" />
  </position>

  <showoption name="Mới" value="1" class="promotion op1" />
  <showoption name="Khuyến mãi" value="2" class="promotion op2" />

  <templatelist xsltname="ProductList.xslt" name="Web Corp - Danh sách sản phẩm" />
  <templatelist xsltname="ProductListSale.xslt" name="Danh sách sản phẩm khuyến mãi" />
  <templatelist xsltname="MuradOnline-ProductList.xslt" name="Shop Online - Danh sách sản phẩm" />
  <templatelist xsltname="ProductListNew.xslt" name="Murad Danh sách sản phẩm new" />

  <templatedetail xsltname="ProductDetail.xslt" name="Web Corp - Chi tiết sản phẩm" />
  <templatedetail xsltname="MuradOnline-ProductDetail.xslt" name="Shop Online - Chi tiết sản phẩm" />
</templates>