<?xml version="1.0" encoding="utf-8" ?>
<settings>

  <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
  <position>
    <add name="Menu chính" value="1" resourcefile="" />
    <add name="Footer - Sản phẩm" value="2" resourcefile="" />
    <add name="Footer - Sản phẩm 2" value="4" resourcefile="" />
    <add name="Footer - Giải pháp" value="8" resourcefile="" />
    <add name="Footer - Về Murad" value="16" resourcefile="" />
    <add name="Footer - Other links" value="32" resourcefile="" />
    <add name="Trang chủ - Giải pháp" value="64" resourcefile="" />
    <add name="Trang chủ - Chuyên mục" value="128" resourcefile="" />
    <add name="Trang chủ - Sản phẩm theo chuyên mục" value="256" resourcefile="" />
    <add name="Online - Menu sản phẩm" value="512" resourcefile="" />
    <add name="Online - Menu chính" value="1024" resourcefile="" />
    <add name="Online - Other links" value="2048" resourcefile="" />
    <add name="Online - Foote sản phẩm" value="4096" resourcefile="" />
    <add name="Online - Foote hỗ trợ khách hàng" value="8192" resourcefile="" />    
  </position>

</settings>