section.murad-2019-1
	.container
		.row.flex.flex-wrap
			.col-xs-12
				figure
					.boxzoom
						img(src='./img/home/banner_2.jpg', alt='')
					figcaption
						h1 Công nghệ dược Murad
							span Technoceuticals
			